/* 画像すべてに適用 */
img {
    width: 500px;
    max-height: 1000px;
    display: block;
    margin: 0 auto;  /*中央寄せ*/
    /* 中央寄せは、表示要素をblockにすることで可能にしている */
}

/* フェードインアウト */
.fadeInOut {
    opacity: 0;
    animation: fadeInout 4s ease-in-out infinite;
}

@keyframes fadeInout {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

/* スライドイン（左から） */
.slideInLeft {
    animation: slideInLeft 5s ease-in-out infinite;
}

/**
* translateX(100%)の意味は、画像自身の横幅！
* 画像の横幅が300pxならば、300px右に移動となる
*/
@keyframes slideInLeft {
    from {
        transform: translateX(-180%); /* -180なのは、imgプロパティを中央にしているため */
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

/* スライドイン（右から） */
.slideInRight {
    animation: slideInRight 2s ease-in-out infinite;
}

@keyframes slideInRight {
    from {
        transform: translateX(180%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

/* ズームイン */
.zoomIn {
    animation: zoomIn 10s ease-in-out infinite;
}

@keyframes zoomIn {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* ふわふわ */
.float {
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(10%);
    }
}

/* ぽよぽよ加藤 */
.poyon {
    animation: poyon 4s ease-in-out infinite;
}

@keyframes poyon {
    0%, 100% {
        transform: scale(1) translateY(0);
    }
    30% {
        transform: scale(1.2, 0.8) translateY(-20px);
    }
    50% {
        transform: scale(0.8, 1.2) translateY(0);
    }
    70% {
        transform: scale(1.1, 0.9) translateY(-10px);
    }
    90% {
        transform: scale(0.9, 1.1) translateY(0);
    }
}