body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background: lch(0% 0 0);
}

.container {
  width: min(600px, 100%);
  margin: 0 auto;
  text-align: center;
  padding: 40px 0;
}

.name {
  font-size: 32px;
  margin-bottom: 10px;
  color:aliceblue
}

.profile-area {
  display: flex;         /* 要素を横置きする */ 
  align-items: center;   /* 上下を中央揃え */
  justify-content: center; /* 必要に応じて調整 */
  gap: 40px;             /* 写真とチャートの間隔 */
  margin-bottom: -30px;
}

.profile-img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 30px;
  border: 3px solid transparent;
  background-image:
    linear-gradient(#00000070, #00000070),
    linear-gradient(135deg, #ffd700, #ff00f7, #00eaff, #ffd700);
  background-origin: border-box;
  background-clip: padding-box, border-box;
 box-shadow:
    0 0 24px #ff00f7,
    0 0 30px #00eaff,
    0 0 60px #ffd700;

  position: relative;
  overflow: hidden;
  transition: 0.4s;
}

.chart-wrap {
  width: 50%;
  margin: 0 auto 30px;
}

.description {
  text-align: left;
  line-height: 1.7;
  font-size: 16px;
  color:aliceblue
}
